* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header, footer {
    background-color: rgba(2, 2, 61, 0.89);
    color: rgb(212, 212, 212);
    padding: 1rem;
    text-align: center;
}

#pressButton::before{
    content: "\2630";
}

#pressButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;
}

ul.menuLinks li a {
    display: block;
    color: white;
    font-weight: bold;
    padding: .75rem 2vw;
    text-decoration: none;
}

ul.menuLinks{
    list-style-type: none;
}

#pressButton.open::before{
    content: "X";
}

nav{
    background-color: rgb(199, 169, 2);
    padding: 0.3rem;
    display: grid;
    justify-content: space-around;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul li {
    color: white;
    font-weight: bold;
    padding: 0.3rem 3.5rem;
    text-align: center;
  }

nav a:hover {
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
}

nav ul {overflow: hidden;}

nav.open {
    grid-template-rows: 1fr;
}

nav .active {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

main section {
    color: black;
    margin: 1rem;
}

.hero {
    background-image: url();
    text-align: center;
    padding: 100px 20px;
}

.cards section{
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 1rem;
}

h2, h3 {
    padding: 0.7rem;
    text-align: center;
    background-color: rgb(212, 212, 212);
  }

  h4 {
    text-align: left;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 20px;
  }

  .sidebar {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    transition: opacity 1s;
}

img {
    width: 100%;
    height: auto;
    background: #000;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}